body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 20px;
}

.dia {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

a {
  color: #4fc3f7;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #00c853;
  font-weight: bold;
}
